h1{
    font-family: "Montserrat";
    font-weight: var(--title-weight);
    color: var(--text-secundary-color);
}

.titleLogo{
    display: none;
}

header{
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 37px 48px;
    position: relative;
}

.imgLogo{
    width: 68px;
    height: 64px;
}
.menuDireita{
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}
nav{
    display: none;
}

.list-links{
    list-style: none;
}

.list-links li{
    margin:16px;
}



.list-links li a{
    
    color: var(--text-secundary-color);
    text-decoration: none;
}

@media screen and (min-width: 768px){


    .menuDireita{
        font-size: 24px;
        margin-top: 0;
        width: 467px;
    }

    .menuDireita label{
        display: none;
    }

    nav{
        display: block;
    }

    nav ul{
        padding:0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .list-links li {
        margin:0;
    }

}

@media screen and (min-width: 1440px){

    .titleLogo{
        display: inline-block;
    }   

    .menuDireita{
        font-size: 24px;
        margin-top: 0;
        width: 467px;
    }



    .menuDireita label{
        display: none;
    }

    nav{
        display: block;
    }

    nav ul{
        padding:0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .list-links li {
        margin:0;
    }

}
    
