h1{
    font-family: "Montserrat";
    font-weight: var(--title-weight);
    color: var(--text-secundary-color);
}

header{
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 37px 48px;
}

.imgLogo{
    width: 68px;
    height: 64px;
}
.menuDireita{
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
}
nav{
    display: none;
}