/*custom properties*/
/*criando variaveis*/
:root{
    --background-primary-color: #ffffff;
    --background-secundary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    --butoon-primary-color: #8F0101;
    --butoon-secundary-color: #B81515;

    --text-primary-color:#222222;
    --text-secundary-color:#FFFFFF;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight:500;

}


body, img , h1 , p, fieldset, textarea, legend, label, input, select, button{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

